* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  background: -webkit-linear-gradient(330deg, #17bebb, #f0a6ca);
  background: linear-gradient(120deg, #17bebb, #f0a6ca);
  overflow: hidden;
}
table {
	overflow-x: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.container h1 {
  margin: 0.5em auto;
  color: #FFF;
  text-align: center;
}

.chatbox {
	/*overflow-y: scroll;*/
  background: rgba(255, 255, 255, 0.05);
  width: 600px;
  height: 75%;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.chatbox__messages {
	height: 662px;
	overflow: auto;
	overflow-x: hidden;
}
#user-list{
	height: 662px;
	overflow-y: auto;
	overflow-x: hidden;
}
.chatbox__messages__user-message {
  width: 450px;
}
.chatbox__messages__user-message--ind-message-right {
	float: right;
  background: rgba(255, 255, 255, 0.2);
  padding: 1em 0;
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 1em 1em;
  overflow: hidden;
  white-space: normal;
}

.chatbox__messages__user-message--ind-message-left {
	float: left;
  background: rgba(255, 255, 255, 0.2);
  padding: 1em 0 1em 1em;
  height: auto;
  width: 70%;
  border-radius: 5px;
  margin: 1em 1em;
  overflow: hidden;
  white-space: normal;
}
.chatbox__messages__user-message--ind-message-left > p.name {
  color: #FFF;
  font-size: 1em;
}
.chatbox__messages__user-message--ind-message-right > p.name {
  color: #FFF;
  font-size: 1em;
}
.chatbox__messages__user-message--ind-message-right> p.message {
  color: #FFF;
  font-size: 0.7em;
  margin: 0 2.8em;
}
.chatbox__messages__user-message--ind-message-left> p.message {
  color: #FFF;
  font-size: 0.7em;
  margin: 0 2.8em;
}
.chatbox__user-list {
  background: rgba(255, 255, 255, 0.1);
  width: 25%;
  height: 100%;
  float: right;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
.chatbox__user-list h1 {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  padding: 1em;
  margin: 0;
  font-weight: 300;
  text-align: center;
}
.chatbox__user, .chatbox__user--active, .chatbox__user--busy, .chatbox__user--away {
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  margin: 1em 0.7em;
}
.chatbox__user--active {
  background: rgba(23, 190, 187, 0.8);
}
.chatbox__user--busy {
  background: rgba(252, 100, 113, 0.8);
}
.chatbox__user--away {
  background: rgba(255, 253, 130, 0.8);
}
.chatbox p {
  float: left;
  text-align: left;
  margin: -0.25em 2em;
  font-size: 0.7em;
  font-weight: 300;
  color: #FFF;
  width: 200px;
}
.chatbox form {
background: #222;
}
.chatbox form input {
  background: rgba(255, 255, 255, 0.03);
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 75%;
  padding: 1.2em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}
#close{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.03);
  position: absolute;
  bottom: 1.5em;
  right: 1em;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;

}
#send{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.03);
  position: absolute;
  bottom: 1.5em;
  right: 7em;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;

}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}
