table, td, th, tr, #board {
	background-color: burlywood;
	text-align: center;
	font-size: 12px;
}

table, #board {
	table-layout: fixed;
	width: 550px;
}

.panel-body {
	background-color:lavender;
}

#board {
	overflow-x:auto;
}

#ToGameList {
	float: left;
	margin-top: 10px;
}
