.bs-cont{
    /*background-color: gray;*/
    height: 100vh;
}
.bs-col{
    /*background-color: green;*/
    height: 600px;

}
.bs-col-top{
    text-align: center;

}
.bs-row{
    height: 80px;
    text-align: center;
}
.bs-row-top{
    height: 200px;
}
.bs-row-c{
    height: 600px;
}
.jumbo-c{
    text-align: center;
    height: 600px;
}
.jumbo-c-r{

    width: 350px;
    height: 600px;
}
#ship{
    /*margin-left: 30px;*/
    width: 212px;
}
.alert{
    display: none;
}

.letter{
    margin: 1.5px;
    margin-right: 30px;

}
.celly{
    margin: 1.5px;
    margin-right: 4.5px;
}
.target{
    margin-right: 15px;
}
.digit{
    font-size: 26px;
    margin: 15px;
}